In [63]:
import sqlite3 #create db

conn = sqlite3.connect('db_building_shop.sqlite3')
cursor = conn.cursor()

In [62]:
sql = ("""CREATE TABLE IF NOT EXISTS products (
Id integer PRIMARY KEY AUTOINCREMENT,
Name text NOT NULL,
Unit text NOT NULL,
Type text NOT NULL
);

CREATE TABLE IF NOT EXISTS price (
Id integer PRIMARY KEY AUTOINCREMENT,
Period datetime NOT NULL,
Price number NOT NULL,
ProductId integer,

FOREIGN KEY (ProductId)
    REFERENCES products (Id)
);

CREATE TABLE IF NOT EXISTS stock (
Id integer PRIMARY KEY AUTOINCREMENT,
Period datetime NOT NULL,
Qty number NOT NULL,
ProductId integer NOT NULL,

FOREIGN KEY (ProductId)
    REFERENCES products (Id)

);

CREATE TABLE IF NOT EXISTS customers (
Id integer PRIMARY KEY AUTOINCREMENT,
FirstName text NOT NULL,
LastName text NOT NULL,
phone text NOT NULL,
email text NOT NULL,
address text NOT NULL
);
""")

In [64]:
cursor.executescript(sql)
cursor.fetchall()

[]

In [65]:
cursor.execute("""INSERT INTO products (name, unit, type) values ("шпатлівка", "мішки", "буд.матеріали")""")

In [66]:
# conn.commit() 

cursor.execute('SELECT * FROM products')
cursor.fetchall()

[(1, 'шпатлівка', 'мішки', 'буд.матеріали'),
 (2, 'пісок', 'мішки', 'буд.матеріали'),
 (3, 'шпатлівка', 'мішки', 'буд.матеріали')]

In [71]:
#def function to insert data into 'products' table 
def insert_into_products(name, unit, type_):
    sql_from_input = """INSERT INTO products (name, unit, type) VALUES (?, ?, ?)"""

    sqlite3.connect('db_building_shop.sqlite3')
    curs = conn.cursor()
    curs.execute(sql_from_input, (name, unit, type_))
    conn.commit()
#     conn.close()

name = input("Введіть назву товару: ")
unit = input("Введіть одиниці виміру товару: ")
type_ = input("Введіть вид товару: ")
insert_into_products(name, unit, type_)

Введіть назву товару: лак
Введіть одиниці виміру товару: банки
Введіть вид товару: декоратор

In [72]:
cursor.execute('SELECT * FROM products')
cursor.fetchall()

[(1, 'шпатлівка', 'мішки', 'буд.матеріали'),
 (2, 'пісок', 'мішки', 'буд.матеріали'),
 (3, 'шпатлівка', 'мішки', 'буд.матеріали'),
 (4, 'пісок', 'мішки', 'буд.матеріали'),
 (5, 'фарба', 'банки', 'декоратори'),
 (6, 'лак', 'банки', 'декоратор')]

In [75]:
#def function to insert data into 'products' table 
def insert_into_customers(firstname, lastname, phone, email, address):
    sql_from_input = """INSERT INTO customers (firstname, lastname, phone, email, address) VALUES (?, ?, ?, ?, ?)"""

    sqlite3.connect('db_building_shop.sqlite3')
    curs = conn.cursor()
    curs.execute(sql_from_input, (firstname, lastname, phone, email, address))
    conn.commit()
#     conn.close()

firstname = input("Введіть прізвище: ")
lastname = input("Введіть імя: ")
phone = input("Введіть номер телефону: ")
email = input("Введіть електронну пошту: ")
address = input("Введіть адресу: ")
insert_into_customers(firstname, lastname, phone, email, address)

Введіть прізвище: Галкіна
Введіть імя: Марина
Введіть номер телефону: 387689809809
Введіть електронну пошту: galk@ukr.net
Введіть адресу: Одеса

In [76]:
cursor.execute('SELECT * FROM customers')
cursor.fetchall()

[(1, 'Галкіна', 'Таїсія', '0674892491', 'tasiagalkina@gmail.com', 'Одеса'),
 (2, 'Галкіна', 'Марина', '387689809809', 'galk@ukr.net', 'Одеса')]